{% extends "transactions/base.html" %}

{% block title %}Удаление транзакции{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Удалить транзакцию</h1>
    <div class="alert alert-warning" role="alert">
        Вы уверены, что хотите удалить транзакцию от <strong>{{ object.manual_date }}</strong>
        на сумму <strong>{{ object.amount }}</strong>?
    </div>

    <form method="post">
        {% csrf_token %}
        <a href="{% url 'transactions:transaction-list' %}" class="btn btn-secondary">Отмена</a>
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
</div>
{% endblock %}
